language: ruby
bundler_args: --without debug
script: bundle exec rake test_with_coveralls
sudo: false
cache: bundler
rvm:
  - 2.2.0
  - 2.1.0
  - 2.0.0
  - 1.9.3
  - rbx-2
notifications:
  email:
    recipients:
      - sylvester@keil.or.at
    on_success: change
    on_failure: always
matrix:
  allow_failures:
    - rvm: rbx-2
